<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOAF7_a0fzqCCDCbdjBOK-7p5T1woburQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1025273190836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.constro.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>constro-77f9b</string>
	<key>STORAGE_BUCKET</key>
	<string>constro-77f9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025273190836:ios:d6990c62db84280a0a3ae1</string>
</dict>
</plist>